$main-purple: #f3beff;
$element-purple: #aaaaaa;
// DARK-THEME START
$elevation-1: #1e1f20;
$elevation-2: #242526;
$elevation-3: #38393a;
$nav-background: #111212;
$darktheme-body-background: #111212;
$darktheme-font-main-color: #ffffffe6;
$darktheme-fact-border-color: #666;
$darktheme-link-unhovered: rgba(255, 255, 255, 0.7);
$darktheme-link-hovered: rgba(255, 255, 255, 1);
$darktheme-brand: #f080ff;
$fav-cat-color: #e93fff;
// DARK-THEME END
.points {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.brand-name {
  text-transform: capitalize;
  font-weight: bold;
  font-size: large;
}

.not-found-img {
  border-radius: 20px;
  max-width: 70%;
}

// CAT-PROFILE START

@mixin arrows {
  opacity: 0.9;
  position: absolute;

  &:hover {
    opacity: 1;
    cursor: pointer;
  }
}
.arrow-left {
  @include arrows();
  top: 135px;
  left: 8px;
}

.arrow-right {
  @include arrows();
  top: 135px;
  right: 5px;
}

.cat-position {
  position: absolute;
  top: 0px;
  left: 0px;
  font-weight: bold;
  padding: 10px;
}

.cat-facts {
  margin: 10px 0px 10px 0px;
  padding-left: 15px;
  border-left: 2px solid $darktheme-fact-border-color;
  margin-bottom: 10px;
}

@mixin fav-icon {
  z-index: 1;
  opacity: 0.9;
  position: absolute;

  &:hover {
    opacity: 1;
    cursor: pointer;
  }
}

.fav-icon-profile {
  @include fav-icon();
  top: 2px;
  right: 10px;
}

.def-icon {
  color: $darktheme-link-unhovered;
}

.fav-icon {
  color: $fav-cat-color;
}

// CAT-PROFILE END

// CAT-GALLERY START
.gallery-picture {
  border-radius: 10%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  height: 150px;
  width: 150px;
  transition: transform 0.1s ease-in-out;

  &:hover {
    cursor: pointer;
    transform: scale(1.015);
    box-shadow: 0px 0px 15px 1px rgba(255, 255, 255, 0.52);
  }
}

.active-cat {
  box-shadow: 0px 0px 15px 3px $darktheme-brand !important;
}

.fav-icon-gallery {
  @include fav-icon();
  top: 5px;
  right: 5px;
}

.galleryImage-container {
  position: relative;

  .cat-name-capture {
    width: max-content;
    position: absolute;
    font-weight: bold;
    left: 50%;
    transform: translateX(-50%);
    bottom: -25px;
    color: $darktheme-font-main-color;
    border-bottom: 1px solid transparent;

    &:hover {
      cursor: pointer;
      border-bottom: 1px solid $darktheme-fact-border-color;
    }
  }

  &:hover {
    .fav-icon-gallery {
      transition: transform 0.1s ease-in-out;
      transform: scale(1.1);
    }
  }
}
// CAT-GALLERY END

nav {
  height: 60px;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.logo-link {
  margin-left: 1.5rem;
  opacity: 0.8;

  padding: 0px;
  &:hover {
    opacity: 1;
  }
}

.logo {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: block;

  &:hover {
    cursor: pointer;
  }
}

.main-container {
  margin: auto;
  max-width: 100ch;
  padding: 90px 20px 100px 20px;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line-divider {
  padding-top: 25px;
  margin-top: 15px;
  border-top: 2px solid $darktheme-fact-border-color;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.flex-profile {
  display: flex;
  flex-direction: row;

  img {
    flex-shrink: 0;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    height: 200px;
    width: 200px;
    margin-right: 15px;
  }
}

.cats-gallery-flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px 30px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.big-svg {
  height: 40px;
  width: 40px;
}

.accordion-link {
  color: #2b97c1;
  text-decoration: none;
  font-weight: bold;

  &:hover {
    color: #819aff;
  }
}

.cat-name {
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.cat-body {
  margin: 10px 0px 10px 0px;
}

.get-home-link {
  color: #f6b3ff;
  font-weight: bold;

  &:hover {
    cursor: pointer;
    color: #9d69a4;
  }
}

@media all and (max-width: 700px) {
  .flex-profile {
    flex-direction: column;

    img {
      margin: 0px;
      align-self: center;
    }
  }

  .arrow-left,
  .arrow-right {
    top: 150px;
  }
}

@media all and (max-width: 480px) {
  .arrow-left,
  .arrow-right {
    top: 95px;
  }

  .main-container {
    padding: 20px 15px 150px 15px;
  }

  .cat-facts {
    margin: 10px 0px 10px 0px;
    padding-left: 15px;
    margin-bottom: 10px;
  }

  .flex-profile {
    display: flex;

    img {
      height: 170px;
      width: 170px;
      margin-right: 10px;
    }
  }

  .fav-icon-profile {
    top: 0px;
    right: 10px;
  }
}
