$main-purple: #f3beff;
$element-purple: #aaaaaa;
// DARK-THEME START
$elevation-1: #1e1f20;
$elevation-2: #242526;
$nav-background: #111212;
$darktheme-body-background: #111212;
$darktheme-font-main-color: #ffffffe6;
$darktheme-fact-border-color: #666;
$darktheme-link-unhovered: rgba(255, 255, 255, 0.7);
$darktheme-link-hovered: rgba(255, 255, 255, 1);
$darktheme-brand: #f080ff;
$fav-cat-color: #e93fff;
// DARK-THEME END

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.points {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: $darktheme-body-background;
  color: $darktheme-font-main-color;
}

.not-found-img {
  border-radius: 20px;
  max-width: 70%;
}

// CAT-PROFILE START
.cat-profile {
  position: relative;
  padding: 20px 50px 20px 50px;
  border-radius: 15px;
  margin-bottom: 10px;
  background-color: $elevation-2;
  min-height: 330px;
}
@mixin arrows {
  opacity: 0.9;
  position: absolute;

  &:hover {
    opacity: 1;
    cursor: pointer;
  }
}
.arrow-left {
  @include arrows();
  top: 50%;
  left: 8px;
}

.cat-position {
  position: absolute;
  top: 15px;
  left: 15px;
  font-weight: bold;
}

.arrow-right {
  @include arrows();
  top: 50%;
  right: 5px;
}

.cat-facts {
  margin: 10px 0px 10px 0px;
  padding-left: 15px;
  border-left: 2px solid $darktheme-fact-border-color;
  margin-bottom: 10px;
}
// CAT-PROFILE END

// CAT-GALLERY START
.gallery-picture {
  border-radius: 10%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  height: 150px;
  width: 150px;
  transition: transform 0.1s ease-in-out;

  &:hover {
    cursor: pointer;
    transform: scale(1.015);
    box-shadow: 0px 0px 15px 1px rgba(255, 255, 255, 0.52);
  }
}

.active-cat {
  box-shadow: 0px 0px 15px 3px $darktheme-brand !important;
}

@mixin fav-icon {
  z-index: 1;
  opacity: 0.9;
  position: absolute;

  &:hover {
    opacity: 1;
    cursor: pointer;
  }
}

.fav-icon-profile {
  @include fav-icon();
  top: 10px;
  right: 15px;
}

.fav-icon-gallery {
  @include fav-icon();
  top: 5px;
  right: 5px;
}

.def-icon {
  color: $darktheme-link-unhovered;
}

.fav-icon {
  color: $fav-cat-color;
}

.galleryImage-container {
  position: relative;

  .cat-name-capture {
    width: max-content;
    position: absolute;
    font-weight: bold;
    left: 50%;
    transform: translateX(-50%);
    bottom: -25px;
    color: $darktheme-font-main-color;
    border-bottom: 1px solid transparent;

    &:hover {
      cursor: pointer;
      border-bottom: 1px solid $darktheme-fact-border-color;
    }
  }

  &:hover {
    .fav-icon-gallery {
      transition: transform 0.1s ease-in-out;
      transform: scale(1.1);
    }
  }
}
// CAT-GALLERY END

nav {
  width: 70px;
  position: fixed;
  left: 0; /* Position the navbar at the left side of the page */
  z-index: 100;
  height: 100%; /* Set the height to fill the entire viewport */
  font-size: large;
  overflow: hidden;
  display: flex;
  flex-direction: column; /* Change to column direction for vertical layout */
  align-items: center; /* Align items to the start (top) of the navbar */
  justify-content: flex-start; /* Center the items vertically */
  background-color: $nav-background;
  border-right: 1px solid $darktheme-fact-border-color;

  .svg-icon {
    color: rgb(187, 187, 187);

    &:hover {
      color: rgb(231, 231, 231);
      border: none;
    }
  }

  .logo-link {
    opacity: 0.8;
    margin: 0px;
    padding: 0px;
    &:hover {
      opacity: 1;
      border-bottom: none;
    }
  }

  a {
    display: block;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
    text-decoration: none;
    transition: 0.2s ease-in-out;
    border-bottom: none;
  }

  .logo {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: block;

    &:hover {
      cursor: pointer;
    }
  }

  a:first-of-type {
    margin-top: 30px;
  }

  a:hover {
    border-bottom: 1px solid white;
    color: white;
    cursor: pointer;
  }
}

.main-container {
  margin: auto;
  max-width: 100ch;
  padding: 30px 20px 100px 90px;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line-divider {
  padding-top: 25px;
  margin-top: 5px;
  border-top: 2px solid $darktheme-fact-border-color;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.flex-profile {
  display: flex;
  flex-direction: row;

  img {
    flex-shrink: 0;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    height: 200px;
    width: 200px;
    margin-right: 15px;
  }
}

.cats-gallery-flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px 30px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.big-svg {
  height: 40px;
  width: 40px;
}

a {
  color: $darktheme-link-unhovered;
  text-decoration: none;

  &:hover {
    color: $darktheme-link-hovered;
  }
}

.accordion-link {
  color: #2b97c1;
  text-decoration: none;
  font-weight: bold;

  &:hover {
    color: #819aff;
  }
}

.cat-name {
  display: flex;
  align-items: center;
  gap: 5px;
}

.cat-body {
  margin: 10px 0px 10px 0px;
}

.get-home-link {
  color: #f6b3ff;
  font-weight: bold;

  &:hover {
    cursor: pointer;
    color: #9d69a4;
  }
}

@media all and (max-width: 700px) {
  .cat-profile {
    min-height: 545px;
  }

  .flex-profile {
    flex-direction: column;

    .cat-name {
      justify-content: center;
    }

    img {
      margin: 0px;
      align-self: center;
    }
  }

  .arrow-left {
    top: 30%;
  }

  .arrow-right {
    top: 30%;
  }
}

@media all and (max-width: 480px) {
  nav {
    flex-direction: row;
    background: $nav-background;
    overflow: hidden;
    position: fixed;
    top: auto;
    bottom: 0;
    width: 100%;
    border-bottom: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    border: none;
    border-top: 1px solid $darktheme-fact-border-color;
    height: 60px;
    gap: 10px;

    .logo-link {
      opacity: 0.8;
      margin: 0px;
      padding: 0px;
      &:hover {
        opacity: 1;
        border-bottom: none;
      }
    }

    a {
      margin: 0px;

      &:first-of-type {
        margin: 0px;
      }
    }

    .logo {
      height: 37px;
      width: 37px;
    }
  }

  .arrow-left {
    top: 25%;
  }

  .arrow-right {
    top: 25%;
  }

  .main-container {
    padding: 20px 15px 150px 15px;
  }

  .cat-facts {
    margin: 10px 0px 10px 0px;
    padding-left: 15px;
    margin-bottom: 10px;
  }

  .flex-profile {
    display: flex;

    .cat-name {
      justify-content: center;
    }

    img {
      height: 170px;
      width: 170px;
      margin-right: 10px;
    }
  }

  .fav-icon-profile {
    top: 0px;
    right: 10px;
  }

  .cat-profile {
    background-color: transparent;
    padding: 0px;
    min-height: 460px;
  }

  .cat-position {
    top: 0px;
    left: 0px;
  }
}
