.points {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.not-found-img {
  border-radius: 20px;
  max-width: 70%;
}

.arrow-left {
  opacity: 0.9;
  position: absolute;
  top: 135px;
  left: 8px;
}
.arrow-left:hover {
  opacity: 1;
  cursor: pointer;
}

.arrow-right {
  opacity: 0.9;
  position: absolute;
  top: 135px;
  right: 5px;
}
.arrow-right:hover {
  opacity: 1;
  cursor: pointer;
}

.cat-position {
  position: absolute;
  top: 0px;
  left: 0px;
  font-weight: bold;
  padding: 10px;
}

.cat-facts {
  margin: 10px 0px 10px 0px;
  padding-left: 15px;
  border-left: 2px solid #666;
  margin-bottom: 10px;
}

.fav-icon-profile {
  z-index: 1;
  opacity: 0.9;
  position: absolute;
  top: 2px;
  right: 10px;
}
.fav-icon-profile:hover {
  opacity: 1;
  cursor: pointer;
}

.def-icon {
  color: rgba(255, 255, 255, 0.7);
}

.fav-icon {
  color: #e93fff;
}

.gallery-picture {
  border-radius: 10%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 150px;
  width: 150px;
  transition: transform 0.1s ease-in-out;
}
.gallery-picture:hover {
  cursor: pointer;
  transform: scale(1.015);
  box-shadow: 0px 0px 15px 1px rgba(255, 255, 255, 0.52);
}

.active-cat {
  box-shadow: 0px 0px 15px 3px #f080ff !important;
}

.fav-icon-gallery {
  z-index: 1;
  opacity: 0.9;
  position: absolute;
  top: 5px;
  right: 5px;
}
.fav-icon-gallery:hover {
  opacity: 1;
  cursor: pointer;
}

.galleryImage-container {
  position: relative;
}
.galleryImage-container .cat-name-capture {
  width: -moz-max-content;
  width: max-content;
  position: absolute;
  font-weight: bold;
  left: 50%;
  transform: translateX(-50%);
  bottom: -25px;
  color: rgba(255, 255, 255, 0.9019607843);
  border-bottom: 1px solid transparent;
}
.galleryImage-container .cat-name-capture:hover {
  cursor: pointer;
  border-bottom: 1px solid #666;
}
.galleryImage-container:hover .fav-icon-gallery {
  transition: transform 0.1s ease-in-out;
  transform: scale(1.1);
}

nav .logo-link {
  margin-top: 20px;
  opacity: 0.8;
  padding: 0px;
}
nav .logo-link:hover {
  opacity: 1;
}
nav .logo {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: block;
}
nav .logo:hover {
  cursor: pointer;
}

.main-container {
  margin: auto;
  max-width: 100ch;
  padding: 30px 20px 100px 90px;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line-divider {
  padding-top: 25px;
  margin-top: 15px;
  border-top: 2px solid #666;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.flex-profile {
  display: flex;
  flex-direction: row;
}
.flex-profile img {
  flex-shrink: 0;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 200px;
  width: 200px;
  margin-right: 15px;
}

.cats-gallery-flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px 30px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.big-svg {
  height: 40px;
  width: 40px;
}

.accordion-link {
  color: #2b97c1;
  text-decoration: none;
  font-weight: bold;
}
.accordion-link:hover {
  color: #819aff;
}

.cat-name {
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.cat-body {
  margin: 10px 0px 10px 0px;
}

.get-home-link {
  color: #f6b3ff;
  font-weight: bold;
}
.get-home-link:hover {
  cursor: pointer;
  color: #9d69a4;
}

@media all and (max-width: 700px) {
  .flex-profile {
    flex-direction: column;
  }
  .flex-profile img {
    margin: 0px;
    align-self: center;
  }
  .arrow-left,
  .arrow-right {
    top: 150px;
  }
}
@media all and (max-width: 480px) {
  nav .logo-link {
    display: none;
  }
  .arrow-left,
  .arrow-right {
    top: 95px;
  }
  .main-container {
    padding: 20px 15px 150px 15px;
  }
  .cat-facts {
    margin: 10px 0px 10px 0px;
    padding-left: 15px;
    margin-bottom: 10px;
  }
  .flex-profile {
    display: flex;
  }
  .flex-profile img {
    height: 170px;
    width: 170px;
    margin-right: 10px;
  }
  .fav-icon-profile {
    top: 0px;
    right: 10px;
  }
}/*# sourceMappingURL=styles.css.map */